.register {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    min-height: 300px;
    width: 300px;
    border: 1px solid #818f9c;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}