.footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    background-color: rgb(179, 163, 238);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}




